body {
  background-color: rgb(188, 216, 243);
  margin: 0;
  padding: 0;
  font-family: "Jua", sans-serif;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 2em;
}

.wether_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  padding: 2em;
  box-shadow: 10px 10px 5px rgb(190, 190, 190);
}

.current_info {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.temperature::after {
  content: "°C";
}

.messege_section {
  margin-left: 4em;
  display: flex;
}

.yellow_messenger {
  background-color: rgb(255, 255, 40);
  padding: 1em;
  border-radius: 1em;
  box-shadow: 5px 5px 5px rgb(150, 149, 149);
  position: relative;
}

.yellow_messenger::after {
  border-top: 15px solid rgb(255, 255, 40);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
}

.time {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

@media screen and (max-width: 890px) {
  article {
    flex-direction: column;
  }

  .messege_section {
    margin-top: 4em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    flex-direction: column;
  }

  .time {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em;
  }
}
